{% extends "base.html" %}

{% block section %}Área de competencia{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <h1 class="header-title">Área de Competencia</h1>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <div class="thumbnail">
                <h4>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Impuestos</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Liquidaciones de sueldos</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Asesoría</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Testamentos y fideicomisos</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Teneduría de libros</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail info">
                <h1>Administración financiera</h1>
                <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usarlo para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que prestas. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores. Haz que tu empresa se destaque y muestra a tus visitantes quién eres.
                    Consejo: Si quieres eliminar este texto haz clic y presiona eliminar.</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
