{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="header-image">
            <img src="/img/contadores.jpg" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="header-image-bottom">
            <img src="/img/liftedshadow_medium.png" />
        </div>
    </div>
</div>

<!-- Sections and posts -->
<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <div class="col-md-4">
            <div class="thumbnail">
                <h1>Especialistas en Impuestos</h1>
                <img src="/img/especialistas_impuestos.jpg" />
                <p>Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <p>Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <button class="btn btn-md">Más</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <h1>Nuestro equipo</h1>
                <img src="/img/nuestro_equipo.jpg" />
                <p>Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                <button class="btn btn-md">Más</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <h1>Áreas de Competencia</h1>
                <ul>
                    <li><span class="glyphicon glyphicon-ok"></span> Impuestos</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Liquidaciones de sueldos</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Asesoría</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Testamentos y fideicomisos</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Software de contabilidad</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Teneduría de libros</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Selección de entidades</li>
                    <li><span class="glyphicon glyphicon-ok"></span> Administración financiera</li>
                </ul>
                <button class="btn btn-md">Más</button>
            </div>
        </div>

    </div>

</div>


<div class="row">

    <div class="col-md-8 col-md-offset-2">

        <div class="col-md-8">
            <div class="thumbnail">
                <h1>Noticias y Publicaciones</h1>
                <div class="col-md-6">
                    <div class="post">
                        <img src="/img/post_1.jpg" />
                        <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post">
                        <img src="/img/post_2.jpg" />
                        <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Aquí puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
                    </div>
                </div>

                <button class="btn btn-md">Más</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <h1>Testimonios</h1>
                <div id="testomony" class="carousel slide text-center" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testomony" data-slide-to="0" class="active"></li>
                        <li data-target="#testomony" data-slide-to="1"></li>
                        <li data-target="#testomony" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h4>"Un gran trabajo con los asientos contables."<br>
                                    <span style="font-style:normal;">Persona 1</span></h4>
                        </div>
                        <div class="item">
                            <h4>"Gran equipo de trabajo. Muy eficientes."<br>
                                    <span style="font-style:normal;">Persona 2</span></h4>
                        </div>
                        <div class="item">
                            <h4>"Muy recomendados. Cumplen."<br>
                                    <span style="font-style:normal;">Persona 3</span></h4>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#testomony" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#testomony" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
